<div *ngIf="this.pracas != null; else loadingBar">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile *ngFor="let praca of this.pracas" 
        [colspan]="4" [rowspan]="1" [routerLink]="['praca', praca.id]">
            <mat-card class="card-format">
                <mat-card-title>{{ praca.name }}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p>{{ praca.picture }}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #loadingBar>
    <app-loading-bar></app-loading-bar>
</ng-template>