$container-color: rgb(246, 238, 213);

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $container-color;
}

.card-title {
    text-align: center;
}