<div *ngIf="this.usuarios != null; else loadingBar">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile *ngFor="let usuario of this.usuarios" 
        [colspan]="4" [rowspan]="1" [routerLink]="['usuario', usuario.id]">
            <mat-card class="card-format">
                <mat-card-title>{{ usuario.name }}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p>{{ usuario.email }}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #loadingBar>
    <app-loading-bar></app-loading-bar>
</ng-template>